<!DOCTYPE html>
<!--Summons the module to give the <html>-->
<html lang="en" ng-app="todoApp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <title>TODO LIST</title>
</head>

<body>

  <main>
    <section ng-controller="TodoController as $ctrl">
      <h2>TODO List</h2>
      <p>A place to store the things you need to do</p>
      <input type="text" ng-model="searchText" placeholder="Filter your to-dos">
      <ol>
        <li class="lst" ng-repeat="item in $ctrl.todos | filter: searchText">
          <div class="lst-cont">
            <button class="btn-complete" ng-click="item.isComplete = true" ng-if="item.isComplete == false">Complete</button>
            <p class="task-text" contenteditable="true" ng-class="{complete: item.isComplete}">{{item.task}}</p> <!-- TASK -->
            <img class = "close" src="https://material.io/tools/icons/static/icons/baseline-close-24px.svg" ng-click="$ctrl.removeTask($index)">
          </div>
        </li>
      </ol>
      <form ng-submit="$ctrl.add($ctrl.newTodo);">
        <input ng-model="$ctrl.newTodo.task" type="text" placeholder="Add your to do">
        <button class="Add" ng-disabled="!$ctrl.newTodo">Add To Do</button>
      </form>
    </section>
  </main>

  <script src="https://code.angularjs.org/1.6.5/angular.js"></script>
  <script src="app.module.js"></script>
  <script src="app.controller.js"></script>
</body>

</html>