body {
    background: linear-gradient(to right, #f857a6, #ff5858);
    font-family: 'Open Sans', sans-serif;
}

main {
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

section {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}

input:focus{
    outline: none;
}

h2 {
    margin: 0;
}

p {
    margin-top: 5px;
    margin-bottom:10px;
}

input {
    border: 2px solid #bbb;
    height: 24px;
    border-radius: 7px;
    padding-left: 10px;
    background-color:#eee;
}

.lst-cont {
    display: flex;
    flex-direction: row;
    position: relative;
    padding-bottom:10px;
}

ol {
    padding-left:20px;
    
}

.btn-complete{
    align-self: center;
    background-color: #eee;
    border: 1px solid #ff69b4;
    font-size: 8px;
    border-radius: 5px;
    padding-top:5px;
    padding-bottom:5px;
    color:#ff69b4;
}

.task-text {
    margin:0;
    align-self: center;
    margin-left:5px;
}

form {
    display: flex;
    flex-direction: column;
}

.close {
    align-self: center;
    position: absolute;
    right:0px;
}

.close:hover {
    fill:#ff0000;
}

section {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    padding: 20px;
    height: auto;
    max-width: 302;
}

.complete {
    text-decoration: line-through;
}

.Add {
    height: 34px;
    border-radius: 7px;
    margin-top: 10px;
    background-color: #ff1493;
    color:#eee;
    border: none;
}